$white-bkg: #ffffff;
$white-gray: #ebe7df;
$dark-bkg: #242424;
$gray-dark-bkg:  #3c3c3c;
$gray-light-bkg:  #777777;
$green-bkg: #57C5A0;
$orange: #F27E4B;
$principal-font: 'Maven Pro', sans-serif;   
